<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de la cola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="light" lines="none" class="circulo">
    <ion-label>
      <ion-label class="number-queue">N°</ion-label>
      <ion-label class="position-queue">1</ion-label>
    </ion-label>
  </ion-item>

  <ion-item  color="light" lines="none" class="but-form">
    <ion-button class="buttons-end" color="primary"><ion-icon name="checkmark-circle" color="light"></ion-icon> Atendiendo</ion-button>
  </ion-item>
  
  <ion-item color="light" lines="none" class="icons-form">
    <ion-footer class="icons-div" no-border>
      <ion-icon class="big-icon" name="man" color="primary"></ion-icon>
      <ion-icon class="big-icon" name="people" color="primary"></ion-icon>
    </ion-footer>
  </ion-item>

  <ion-item color="light" lines="none" class="info-form">
    <ion-footer class="icons-div" no-border>
      <ion-label class="small-icon">Disponibles</ion-label>
      <ion-label class="small-icon">En cola</ion-label>
    </ion-footer>
  </ion-item>

  <ion-item color="light" lines="none" class="number-form">
    <ion-footer class="icons-div" no-border>
      <ion-label class="big-icon">2</ion-label>
      <ion-label class="big-icon">5</ion-label>
    </ion-footer>
  </ion-item>

  <ion-item color="light" lines="none" class="unids-form">
    <ion-footer class="icons-div" no-border>
      <ion-label class="small-icon">Personas</ion-label>
      <ion-label class="small-icon">Personas</ion-label>
    </ion-footer>
  </ion-item>

  <ion-item color="light" lines="none" class="buttons-form">
    <ion-footer class="icons-div" no-border>
      <ion-button class="buttons-main" color="primary"><ion-icon name="walk" color="light"></ion-icon> Siguiente en la cola</ion-button>
    </ion-footer>
  </ion-item>

  <ion-img class="logo-end" src="../../../assets/images/logo.png"></ion-img>

</ion-content>
