ion-content {
    --background: url('../../../assets/images/fondo.jpg') 0 0/100% 100% no-repeat;
}

ion-item{
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
}

.head{
    margin-top: 15px; 
    height: 10%;
    width: 100%;
    text-align: center;
}

.head-icon{
    position: fixed;
    left: 5px;
    font-size: 1.5em;
}

.head-label{
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

.form-register{
    margin-top: 30px;
    text-align: center;
}

.bottom-inputs{
    margin-bottom: 10px;
}

.bottom-button{
    margin-bottom: 10px;
}

.logo-end{
    position:fixed; 
    bottom: 5px;
    height: 75px;
    width: 100%;
}