<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>RapiCola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="light" lines="none" class="circulo">
    <ion-label>
      <ion-label class="number-queue">N°</ion-label>
      <ion-label class="position-queue">1</ion-label>
    </ion-label>
  </ion-item>

  <ion-item color="light" lines="none" class="icons-form">
    <ion-footer class="icons-div" no-border>
      <ion-icon class="big-icon" name="man" color="primary"></ion-icon>
      <ion-icon class="big-icon" name="people" color="primary"></ion-icon>
      <ion-icon class="big-icon" name="alarm" color="primary"></ion-icon>
      <ion-icon class="big-icon" name="time" color="primary"></ion-icon>
    </ion-footer>
  </ion-item>

  <ion-item color="light" lines="none" class="info-form">
    <ion-footer class="icons-div" no-border>
      <ion-label class="small-icon">Delante</ion-label>
      <ion-label class="small-icon">En cola</ion-label>
      <ion-label class="small-icon">Estimado</ion-label>
      <ion-label class="small-icon">Su estimado</ion-label>
    </ion-footer>
  </ion-item>

  <ion-item color="light" lines="none" class="number-form">
    <ion-footer class="icons-div" no-border>
      <ion-label class="big-icon">2</ion-label>
      <ion-label class="big-icon">5</ion-label>
      <ion-label class="big-icon">3</ion-label>
      <ion-label class="big-icon">6</ion-label>
    </ion-footer>
  </ion-item>

  <ion-item color="light" lines="none" class="unids-form">
    <ion-footer class="icons-div" no-border>
      <ion-label class="small-icon">Personas</ion-label>
      <ion-label class="small-icon">Personas</ion-label>
      <ion-label class="small-icon">Minutos</ion-label>
      <ion-label class="small-icon">Minutos</ion-label>
    </ion-footer>
  </ion-item>

  <ion-item color="light" lines="none" class="status-form">
    <ion-footer class="icons-div" no-border>
      <ion-label class="status-icon" color="primary">Su estado:</ion-label>
      <ion-label class="status-icon" color="danger">Ocupado</ion-label>
    </ion-footer>
  </ion-item>

  <ion-item color="light" lines="none" class="buttons-form">
    <ion-footer class="icons-div" no-border>
      <ion-button class="buttons-main" color="primary"><ion-icon name="log-in" color="light"></ion-icon> Entrar en la cola</ion-button>
      <ion-button class="buttons" color="primary"><ion-icon name="swap" color="light"></ion-icon> Cambiar estado</ion-button>
      <ion-button class="buttons-end" color="primary"><ion-icon name="log-out" color="light"></ion-icon> Salir de la cola</ion-button>
    </ion-footer>
  </ion-item>

  <ion-img class="logo-end" src="../../../assets/images/logo.png"></ion-img>

</ion-content>
