<ion-content>

  <ion-footer class="head" no-border>
    <ion-icon class="head-icon" color="light" name="arrow-back" routerLink="/main"></ion-icon>
  </ion-footer>

  <ion-footer class="form-register" no-border>
    <ion-label class="head-label">-------------------------------------</ion-label>
    <br/>
    <ion-icon color="light" name="key"></ion-icon>
    <ion-label class="head-label"> Recuperar contraseña</ion-label>
    <br/>
    <ion-label class="head-label">-------------------------------------</ion-label>
    <ion-item class="bottom-inputs" color="light">
      <ion-label><ion-icon name="mail" color="primary"></ion-icon></ion-label>
      <ion-input required type="text" placeholder="Correo electrónico"></ion-input>
    </ion-item>
    
    <ion-button class="bottom-button" color="primary"><ion-icon name="send" color="light"></ion-icon> Enviar</ion-button>
  </ion-footer>

  <ion-img class="logo-end" src="../../../assets/images/logo.png"></ion-img>

</ion-content>